.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute; 
    bottom: 1%;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-family: Inter;
}

container {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 5%;
    border-radius: 3%;
}

img {
    border-radius: 50%;
    width: 50%;
    padding-bottom: 10%;
}

name {
    font-weight: 600;
    font-size: 24px;
}

location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    padding-bottom: 4%;
}

info {
    padding-bottom: 1%;
}

socials {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    padding: 10px;
    background-color: hsl(0, 0%, 20%);
    width: 260px;
    border-radius: 5px;
    text-align: center;
}

.social:hover {
    color: black;
    background-color: hsl(75, 94%, 57%);
}